<li class="list-group-item">
  <%= comment.commenter %>: <%= comment.body %>
  <br/>
  <small>(Last updated <%= comment.updated_at %>)</small>
  <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure to delete this comment?' },
              class: 'btn btn-danger btn-sm'
  %>
</li>
