<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Thien's blog</h1>
  <h3>This is my first RoR applications for CoderSchool</h3>
  <%= render @articles %>

  <%= link_to 'New Article', new_article_path %>
</div>
