<div class="container" align="middle">
  <h1>Welcome to my Rails blog app !!!</h1>
  <h3>This is my first RoR applications for CoderSchool</h3>
  <img src="http://www.mediazo.com/new/wp-content/uploads/2013/09/Blogging-communities.jpg" height="363" width="544" />
  <br/><br/>
</div>
